<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User Management</title>
	<link href="https://bootswatch.com/superhero/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	{{{body}}}
</body>
</html>